.poster-img img {
  width: 170px;
  border-radius: 10px;
  margin: 5px 10px 0 10px;
  transition: 0.3s;
  object-fit: contain;
  border: 1px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
}
.poster-img img:hover {
  transform: scale(1.1);
  border: 1px solid white;
}
