.poster-img img {
  width: 210px;
  border-radius: 10px;
  margin: 5px 10px 0 10px;
  transition: 0.3s;
  object-fit: contain;
  border: 2px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
}
.poster-img img:hover {
  transform: scale(1.1);
  border: 2px solid white;
}
.games-container {
  display: flex;
  margin-left: 50px;
  margin-top: 10px;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  overflow-x: scroll;
  padding: 14px 0;
}
.games-container::-webkit-scrollbar {
  display: none;
}
