.media-poster {
  width: 180px;
  border: 2px solid white;
  margin: 5px 20px 0 0;
  border-radius: 7px;
  transition: 0.3s;
  object-fit: contain;
  cursor: pointer;
  z-index: 0;
  &:hover {
    transform: scale(1.1);
  }
}
