.media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.media::before {
  content: "";
  top: 0;
  left: 0;
  width: 200%;
  height: 100vh;
  background-image: linear-gradient(270deg, transparent, rgba(0, 0, 0, 0.923));
  position: absolute;
}

.media-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-top: 20px;
}
.media-movie {
  position: absolute;
  left: 0;
  bottom: 300px;
  color: white;
  max-width: 530px;
  text-transform: uppercase;
  margin-left: 50px;
  & h1 {
    margin: 10px 0;
  }
  & p {
    font-weight: 100;
    text-transform: capitalize;
  }
}

.movies-container {
  position: absolute;
  display: flex;
  bottom: 0;
  margin-left: 50px;
}
.media-container {
  & :nth-child(1) {
    background-color: #011375;
  }
  & :nth-child(2) {
    background-color: #e51920;
  }
  & :nth-child(3) {
    background-color: black;
  }
  & :nth-child(4) {
    background-color: #81a3d1;
  }
  & :nth-child(5) {
    background-color: #e0cf1c;
  }
}
.fea-span {
  position: absolute;
  bottom: 205px;
  margin-left: 50px;
  color: #dbdbdb;
  text-transform: uppercase;
}
