/* #background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
} */
.games-container {
  display: flex;
  margin-left: 50px;
  margin-top: 10px;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  overflow-x: scroll;
}
.games-container::-webkit-scrollbar {
  display: none;
}
