body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  height: 100v;
  background-color: rgb(25, 25, 25);
}

h1,
p {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 30px 0;
  color: white;
  z-index: 1;
  position: relative;
}
.header .links .navlink {
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.header .active {
  font-weight: 700;
}
.header .not-active {
  font-weight: 200;
}
.header .icons {
  display: flex;
  align-items: center;
}
.header .icons .header-icon {
  font-size: 25px;
  margin: 0 15px;
  cursor: pointer;
  padding: 5px;
  transition: 0.3s;
}
.header .header-icon:hover {
  border-radius: 50%;
  background-color: white;
  color: black;
}
.header .battery {
  transform: rotate(270deg);
  color: rgb(85, 255, 70);
  font-size: 17px;
  margin-left: 10px;
}

.PosterView {
  transition: 1s all;
}

.background-image {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  -webkit-animation: moveing 0.7s ease;
          animation: moveing 0.7s ease;
}
@-webkit-keyframes moveing {
  0% {
    opacity: 0;
    left: 70px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes moveing {
  0% {
    opacity: 0;
    left: 70px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.poster-info {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 100px 45px;
  color: white;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1.5px;
  -webkit-animation: posterInfo 0.7s forwards ease-in-out;
          animation: posterInfo 0.7s forwards ease-in-out;
}
.poster-info h1 {
  margin: 10px 0 -7px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 55px;
  font-family: "Amatic SC", cursive;
  font-family: "Luckiest Guy", cursive;
}
.poster-info p {
  margin: 3px 0;
  font-weight: 200;
  text-transform: uppercase;
}
.poster-info .play-btn {
  box-sizing: border-box;
  width: 240px;
  font-size: 20px;
  padding: 5px 3px;
  text-transform: uppercase;
  border-radius: 15px;
  border: none;
  margin-top: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.poster-info .play-btn:hover {
  background-color: rgb(179, 179, 179);
}
@-webkit-keyframes posterInfo {
  0% {
    bottom: -250px;
  }
  50% {
    bottom: -250px;
  }
  100% {
    bottom: 0;
  }
}
@keyframes posterInfo {
  0% {
    bottom: -250px;
  }
  50% {
    bottom: -250px;
  }
  100% {
    bottom: 0;
  }
}

#black-overly {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100vh;
  z-index: 0;
  background-image: linear-gradient(270deg, transparent, rgba(0, 0, 0, 0.7137254902));
}

.lock-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  z-index: 100;
  transition: 5s;
  opacity: 1;
}
.lock-layer div {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.lock-layer img {
  max-width: 120px;
  cursor: pointer;
}
.lock-layer span {
  color: white;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-top: 20px;
}
.lock-layer span svg {
  margin: 0 10px;
  font-size: 20px;
}

.start {
  top: -1050px;
}

.poster-img img {
  width: 170px;
  border-radius: 10px;
  margin: 5px 10px 0 10px;
  transition: 0.3s;
  -o-object-fit: contain;
     object-fit: contain;
  border: 2px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
}

.poster-img img:hover {
  transform: scale(1.1);
  border: 2px solid white;
}

.poster-img.selected {
  transform: scale(1.2);
}

.media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.media::before {
  content: "";
  top: 0;
  left: 0;
  width: 200%;
  height: 100vh;
  background-image: linear-gradient(270deg, transparent, rgba(0, 0, 0, 0.923));
  position: absolute;
}

.media-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-top: 20px;
}

.media-movie {
  position: absolute;
  left: 0;
  bottom: 250px;
  color: white;
  max-width: 530px;
  text-transform: uppercase;
  margin-left: 50px;
}
.media-movie h1 {
  margin: 10px 0;
}
.media-movie p {
  font-weight: 100;
  text-transform: capitalize;
}

.movies-container {
  position: absolute;
  display: flex;
  bottom: 0;
  margin-left: 50px;
}

.media-container :nth-child(1) {
  background-color: #011375;
}
.media-container :nth-child(2) {
  background-color: #e51920;
}
.media-container :nth-child(3) {
  background-color: black;
}
.media-container :nth-child(4) {
  background-color: #81a3d1;
}
.media-container :nth-child(5) {
  background-color: #e0cf1c;
}

.fea-span {
  position: absolute;
  bottom: 205px;
  margin-left: 50px;
  color: #dbdbdb;
  text-transform: uppercase;
}

.media-poster {
  max-width: 180px;
  border: 2px solid white;
  margin: 5px 45px 0 0;
  border-radius: 7px;
  transition: 0.3s;
  cursor: pointer;
}
.media-poster:hover {
  transform: scale(1.1);
}

.media-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 30px;
  width: 200px;
  margin-bottom: 20px;
  overflow: hidden;
}
.media-box img:nth-child(1) {
  margin-bottom: -15px;
  z-index: 1;
}
.media-box img:nth-child(2) {
  background-color: #1d1d1d;
  min-width: 200px;
  z-index: 0;
  height: 70px;
  padding-top: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}
.media-box img {
  max-width: 200px;
}/*# sourceMappingURL=MainSCSS.css.map */